.solid-btn,
.outlined-btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.solid-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
}

.solid-btn:hover {
  background-color: var();
}

.outlined-btn {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid gray;
}

.outlined-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
