.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

/* Width CSS */

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.card-shadow {
  box-shadow: var(--shadow);
}

/* link */
.link {
  text-decoration: none;
}
/* container styles */
