.banner_container {
  margin: 1rem 0;
}

.banner_img_container {
  margin: 0.5rem 0.5rem;
  flex: 0.5;
}

.banner-img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--shadow);
  border-radius: 0.5rem;
}

/* Brand CSS */
.brand_heading {
  font-size: 2.5rem;
  font-family: sans-serif;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
}
.brand {
  transition: all ease 0.2s;
}
.brand:hover {
  transform: scale(1.1);
}
.brand_img {
  width: 8rem;
}

/* Category Card CSS */

.category_card {
  border: 1px solid #c1c1c1;
  overflow: hidden;
  border-radius: 0.25rem;
}

.category_card:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
}

.category_img {
  max-width: 15rem;
}
.category_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.2s;
}
.category_img img:hover {
  transform: scale(1.1);
}
.category_name {
  color: var(--primary-color);
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 64rem) {
  .banner-img {
    display: block;
  }
  .banner_container {
    flex-direction: column;
  }
  .brand_heading {
    font-size: 1.5rem;
  }
  .category_img {
    width: 10rem;
  }
}

@media (max-width: 48rem) {
  .category_img {
    width: 9rem;
  }
}
