.filter_wrapper {
  padding: 1.5rem 1rem;
}

.filter_heading {
  padding: 0.5rem 0;
  border-bottom: 1px solid lightgray;
}

.filter_heading p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  font-weight: 600;
}

.filter_heading label {
  margin: 0.25rem 0;
}

.filter_heading input {
  cursor: pointer;
}
