nav {
  padding: 0.25rem 1rem;
  box-shadow: var(--nav-shadow);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.logo_container {
  font-weight: 900;
}

.logo_container .menu_icon {
  margin: 0 0.25rem;
  font-size: 2rem;
}

.nav-logo {
  font-family: sans;
  color: var(--primary-color);
  font-size: 1.5rem;
}

.nav_link {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.nav_link div {
  position: relative;
}

.nav_link .nav_link_icon {
  font-size: 1.4rem;
}

.nav_links .nav_link span {
  font-size: 0.8rem;
  font-family: sans-serif;
  font-weight: 600;
}
.badge {
  position: absolute;
  border-radius: 100%;
  font-size: 12px;
  top: -5px;
  right: -12px;
  padding: 3px 6px;
  background: red;
  font-weight: bold;
  color: var(--white-color);
}

.sidenav {
  position: absolute;
  left: -300px;
  top: 0;
  background-color: var(--white-color);
  border-right: 1px solid #999;
  height: 100vh;
  width: 250px;
  transition: all ease-in 0.3s;
}

.sidenav-wrapper {
  display: flex;
  flex-direction: column;
}

.sidenav .sidenav-wrapper .sidenav_header {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidenav_header .sidenav_header_text {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.sidenav_header .sidenav_header_text span {
  margin: 0 0.25rem;
}

.sidenav .sidenav-wrapper .sidenav_links {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.sidenav .sidenav-wrapper .sidenav_links button {
  padding: 0.5rem;
  margin: 0.25rem 0;
  text-align: justify;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
}

@media screen and (max-width: 64rem) {
  .logo_container .menu_icon {
    display: block;
  }

  .nav_link_icon_title,
  .profile-icon .nav_link_icon {
    display: none;
  }

  .sidenav.active {
    left: 0px;
  }
}

@media (max-width: 48rem) {
  .search {
    display: none;
  }
}
