.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  /* position: sticky; */
  bottom: 0;
  left: 0;
  width: 100%;
}

.link {
  text-decoration: none;
  color: #fff;
  margin: 0.5rem;
}

.footer p {
  font-size: 1.2rem;
  font-family: sans-serif;
}
