.search_bar {
  width: 100%;
  position: relative;
  border: 1px solid var(--primary-color);
  border-radius: 0.25rem;
}

.search_bar button {
  border: none;
  background-color: #fff;
  padding: 0.5rem 0.5rem;
}
.search_bar button .search_bar_icon {
  font-size: 1rem;
}

.search_input {
  width: 80%;
  border: none;
  font-size: 1rem;
  padding: 0.25rem 0rem;
}

.search_input:focus {
  outline: none;
}
